[Unit]
Description=Media player controlled by two buttons and a switch connected to a rasberrypi
After=multi-user.target

[Service]
ExecStart=/home/pi/Programming/start.sh
RestartSec=10
Restart=always
User=pi

[Install]
WantedBy=multi-user.target